* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.light {
  background-color: #fdc;
}

.dark {
  background-color: #986;
}


/* TODO: split chess pieces into own styling */
.chess-piece {
  width: 80px;
  height: 80px;
  background-image: url('../public/images/chess-pieces.png');
  background-repeat: no-repeat;
  display: inline-block;

  background-size: 480px 160px;
}

/* white pieces */
.king-white {
  background-position: 0px 0px;
}

.queen-white {
  background-position: -80px 0px;
}

.bishop-white {
  background-position: -160px 0px;
}

.knight-white {
  background-position: -240px 0px;
}

.rook-white {
  background-position: -320px 0px;
}

.pawn-white {
  background-position: -400px 0px;
}

/* black pieces */
.king-black {
  background-position: 0px -80px;
}

.queen-black {
  background-position: -80px -80px;
}

.bishop-black {
  background-position: -160px -80px;
}

.knight-black {
  background-position: -240px -80px;
}

.rook-black {
  background-position: -320px -80px;
}

.pawn-black {
  background-position: -400px -80px;
}

.ghost {
  opacity: 0.5;

  position: fixed;
  z-index: 9999;
}
